{% extends 'admin/nav.html' %}
{% block content %}
    <h2>今日日常：</h2>
    修改日常：
    <div>
        <label>武林秘境：</label>
        <input type="text">
    </div><div>
        <label>团队秘境：</label>
        <input type="text">
    </div><div>
        <label>武林通鉴：</label>
        <input type="text">
    </div>


{% endblock %}
{% block js %}
<script>
$(document).ready(function () {
    $('#yibiaopan').removeClass("menu-open")
    $('#gongneng').addClass("menu-open")
    $('#daily').addClass("active")
})
</script>
{% endblock %}